/* Enter your custom styles here */
.nextArrowButton {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000; /* optional, to keep it above other elements */
}
.previousButton {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000; /* optional, to keep it above other elements */
}